In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [65]:
pd.set_option('display.max_columns', None)  # Disp max

In [66]:
TestData=pd.read_excel('TestData.xlsx',
                sheet_name='AA',
                skiprows=16,       #  Trimming
                skipfooter=15)

In [84]:
drop=['Rank','Wins','EFscore','Salary','Value']
TestData.drop(columns=drop,inplace=True)    # inplace to save hard

KeyError: "['Rank', 'Wins', 'EFscore', 'Salary', 'Value'] not found in axis"

In [85]:
TestData.max()
TestData.head()

C:\Users\KumarCha05\AppData\Local\Temp\ipykernel_3320\1474548534.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  TestData.max()

       Player                   Team    RAA
0  JC Buttler       Rajasthan Royals  501.0
1    KL Rahul   Lucknow Super Giants  332.0
2   DA Miller         Gujarat Titans  300.0
3  AD Russell  Kolkata Knight Riders  275.0
4   HH Pandya         Gujarat Titans  245.0

In [86]:
TestData.shape

(205, 3)

In [87]:
TestData.head()

       Player                   Team    RAA
0  JC Buttler       Rajasthan Royals  501.0
1    KL Rahul   Lucknow Super Giants  332.0
2   DA Miller         Gujarat Titans  300.0
3  AD Russell  Kolkata Knight Riders  275.0
4   HH Pandya         Gujarat Titans  245.0

In [88]:
print(TestData.index.tolist())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204]

In [89]:
TestData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  191 non-null    object
 1   Team    191 non-null    object
 2   RAA     191 non-null    float64
dtypes: float64(1), object(2)
memory usage: 4.9+ KB

In [90]:
# Basic Statistical Analysis of Data

TestData.describe(include='object')

            Player            Team
count          191             191
unique         191              11
top     JC Buttler  Mumbai Indians
freq             1              22

In [91]:
Teams=['Chennai Super Kings',
    'Delhi Capitals',
    'Gujarat Titans',
    'Kolkata Knight Riders'
    'Lucknow Super Giants',
    'Mumbai Indians',
    'Punjab Kings',
    'Rajasthan Royals',
    'Royal Challengers Bangalore',
    'Sunrisers Hyderabad',
    'None']

In [92]:
Selection=TestData.sort_values(by='Team',ascending=True)

In [93]:
Selection.head()

               Player                 Team    RAA
141        RV Uthappa  Chennai Super Kings  -54.0
167         CJ Jordan  Chennai Super Kings  -95.0
64         PH Solanki  Chennai Super Kings   14.0
21           DJ Bravo  Chennai Super Kings  109.0
63   Mukesh Choudhary  Chennai Super Kings   14.0

In [94]:
Selection

               Player                 Team    RAA
141        RV Uthappa  Chennai Super Kings  -54.0
167         CJ Jordan  Chennai Super Kings  -95.0
64         PH Solanki  Chennai Super Kings   14.0
21           DJ Bravo  Chennai Super Kings  109.0
63   Mukesh Choudhary  Chennai Super Kings   14.0
..                ...                  ...    ...
200               NaN                  NaN    NaN
201               NaN                  NaN    NaN
202               NaN                  NaN    NaN
203               NaN                  NaN    NaN
204               NaN                  NaN    NaN

[205 rows x 3 columns]

In [95]:
SelectionRAA=Selection.sort_values(by='RAA',ascending=False)

In [96]:
SelectionRAA.head()

       Player                   Team    RAA
0  JC Buttler       Rajasthan Royals  501.0
1    KL Rahul   Lucknow Super Giants  332.0
2   DA Miller         Gujarat Titans  300.0
3  AD Russell  Kolkata Knight Riders  275.0
4   HH Pandya         Gujarat Titans  245.0

In [101]:
#TestData.set_index('Team', inplace=True)
#TestData.loc['Teams',RAA].plot(kind='bar',figsize=(15,6))

KeyError: "None of ['Team'] are in the columns"

In [77]:
# plot(kind='bar',figsize=(15,6))

In [78]:
print(TestData.groupby('Team'))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001B04042E580>

In [79]:
#TestData.head(TestData.groupby('Player'))

In [80]:
#TestData.groupby('Team'). .T.plot(kind='area',figsize=(10,6),stacked=False,alpha=0.3)
TestData.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204]

In [81]:
print(TestData.index.tolist())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204]